[user]
	name = takumma
	email = taku.3001@icloud.com
[init]
	defaultBranch = main
[alias]
	st = status
	ad = add
	c = commit
	co = checkout
	com = checkout main
	br = branch
	df = diff
	poh = push origin HEAD
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

[credential]
	helper = osxkeychain
[core]
	quotepath = false
